.main-header .logo {
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 210%;
}

#sidebarCollapsed{
    font-size: 110%;                    
}
table .dataTable .display tbody td{
    font-size: 110%;
    font-family: "Georgia", Times, "Times New Roman", serif;
}
h2{
    margin-bottom: 2%;
    font-family: "Georgia", Times, "Times New Roman", serif;
}
h3{
    font-family: "Georgia", "Times New Roman", serif;
    margin-left: 1%;
}
selectInput{ 
    font-family: "Georgia", Times, "Times New Roman", serif; 
}
.skin-red .main-sidebar{
    background-color:  rgb(33, 47, 61);
    width: 240px;
}
.small-box> .inner{
    font-family: "Georgia", Times, "Times New Roman", serif;                    
}
.small-box> .inner h3{
    font-family: "Franklin Gothic Medium","Arial Narrow", Arial, sans-serif;                    
}
label{
    font-size: 150%;
    font-family: "Franklin Gothic Medium","Arial Narrow", Arial, sans-serif;
    margin-left: 5%;
}
.input-group{
    font-size: 250%;
    font-family: "Franklin Gothic Medium","Arial Narrow", Arial, sans-serif; 
    margin-left: 0%;
}
.dataTables_wrapper{
    margin-top: 2%;                          
}
#threemap_product{
    margin-left: 5%;                 
}
#tipografico .control-label{
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: normal;
}
#tipografico .shiny-options-group .radio label{
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: normal;
    font-size: 140%;
}
#buscardor .control-label{
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: normal;
} 
#buscardor .shiny-options-group .radio label{
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: normal;
    font-size: 140%;
}
#buscar_emple .control-label{
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: normal;
} 
#buscar_emple .shiny-options-group .radio label{
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: normal;
    font-size: 140%;
}